#primary a, #primary a:visited, #primary a:active {
  	padding: 1px 19px 0px;
}

#primarywrap {
	padding-right: 20px;
}

#primary li {
	margin: 0 0 0 4px; 
	padding: 0px 0 0px 0px;
}


#promo, #container, #promobottom {
	overflow: visible;
}

#promoleft {
	margin: 0 0 0 10px;
}

#promoright img {
	margin: 0 0 5px 0px;
}

#container {
	margin-top: 12px;
}

#promo {
	height: 210px;
}

#contentwrap {
	margin-left: 5px;
	width: 410px;
}

#footer .block {
	margin: 12px 0 0 -506px;
}

#txt {
	margin: 34px 0 0 0px;
}

.node {
  margin: 0px 0 15px 0;
}

#contentwrap .block {
	margin-bottom: 5px;
}

#block-views-frontpage .view h2, .view-content h2 {
	background: none;
	line-height: 7px;
	padding: 0;
	margin: 10px 0 0px 0;
}

#block-views-frontpage .node {
	background: none;
	line-height: 7px;
	padding-top: 0px;
	margin: 10px 0 0px 0;
}

#sidebar-right .content {
	margin: -6px 0 0 0px;
	padding: 10px 0 10px 0px; 
	border-right: 1px solid #b1b3b6;
	border-left: 1px solid #b1b3b6;
}

#sidebar-right .title {
	padding: 6px 0 5px 0px;
	line-height: 34px;
}

#container .title {
	padding-bottom: 1px;
}

#sidebar-right .block-user .content {
	padding-bottom: 10px;
}

.comment {
	padding-top: 4px;
}