#primary .links {
	padding: 8px 0px 0px 0px;
	height: 45px;
	line-height: 51px;
}

#logolinks {
	padding-right: 17px;
}

#primary a, #primary a:visited, #primary a:active {
  	padding: 1px 19px 0px;
}

#primary ul {
  	margin: -1px 0 0 0;
}