body {
	margin: 0;
	padding: 0;
/*	color: #6d6c6c;*/
	color: #333333;
	background-color: #EFEFDF;
	font: 12px Arial, sans-serif;
	min-width:760px;
}

#wrapper {
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border:2px solid #BCC6D1;
	width: 900px;
	padding: 0px;
}


#head {
	border-top: #bcc6d1 5px solid;
	width: 900px;
	height: 140px;
	position: relative;
}

#logo {
	display: inline;
	float: left;
  	margin: 29px 0 0 6px;
}

#logolinks {
	text-align:right;
	display: inline;
	width: 200px;
	float: right;
  	margin: 43px 37px 0 0px;
}

#primary {
	float: left;
	width: 900px;
	height: 59px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	background: url(img/bottom.png) bottom left repeat-x;
}

#primary .links {
	text-align: right;
	width: 880px;
}

#primary a, #primary a:visited, #primary a:active {
	float:left;
	background:url("img/a1.gif") no-repeat left top;
  	padding: 20px 19px 47px;
	font-weight: bold;
	color: #010101;
	display:block;
}

#primary a:hover {
	float:left;
	font-weight: bold;
	color: #676767;
	text-decoration: none;
	display:block;
}

/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#primary a {float:none;}
/* End IE5-Mac hack */

#primary ul {
	text-align: center;
	width: 95%;
  	padding: 7px 0px 0;
}

#primary li {
	float:right;
	background:url("img/a2.gif") no-repeat right top;
	margin: 0 0 0 4px; 
	padding: 0px 0 47px 0px;
	border: 0px;
}



#headerwrap {
	padding: 10px 0 0 20px;
}

#promo {
	float: left;
	width: 726px;
	height: 240px;
}

#promoleft, #promoright { 
	display: inline;
}

.promo3-1, .promo3-2 {
	float: left;
	display: inline;
}

.promo1 {
	color: #f38727;
	font-size: 18px;
	letter-spacing: 0.8px;
	font-weight: 500;
}

.promo2 {
	padding: 10px 0 0 0px;
	color: #f38727;
	font-size: 28px;
	letter-spacing: 1px;
	font-weight: 500;
}

.promo3-1 {
	padding: 4px 0 0 0px;
	width: 68px;
}

.promo3-2 {
	line-height: 35px;
	padding: 0 0 0 13px;
	width: 300px;
}

.promo3-2-1 {
	padding: 5px 0 0 0px;
	color: #010101;
	font-size: 24px;
	letter-spacing: 1.3px;
	font-weight: 500;
}

.promo3-2-2 {
	padding: 0 0 8px 0px;
	line-height: 17px;
	width: 250px;
	color: #0a8dcb;
	font-size: 14px;
	font-weight: 500;
}

#promoleft {
	padding: 2px 0 0 0px;
	float: left;
	width: 530px;
}


#promoright {
	line-height: 20px;
	overflow: hidden;
	float: right;
	width: 165px;
}

#promobottom {
	margin: 203px 0 0 0px;
	height: 4px;
	width: 760px;
	background: url(img/promobottom.gif) top left repeat-x;
}

#footer {
	width: 900px;
	height: 77px;
	text-align: left;
	border-top: #bcc6d1 5px solid;
	background: #e3e3e3;
	margin-left:auto;
	margin-right:auto;
}

#footertxt {
	color: #4e4e4e;
	padding: 0 0 0 25px;
}

#footertxt .links{
	padding: 20px 0 0 25px;
	text-align: center;
}

#searchBox{
	position: relative;
	right: 20px;
	top: 10px;
	width: 200px;
	float: right;
}

#footer li {
	display: inline;
	border-right: #4e4e4e 1px solid;
}

#footer .title {
	display: none;
}

#footer li.leaf {
	padding: 0 7px 0 0px;
}

#txt {
	margin: 34px 0 0 0px;
	float: left;
}

#footer .block {
	position: absolute;
	margin: 13px 0 0 -7px;
	border: 0px;
	padding: 0px;
}

#footer .block ul {
padding:0pt 0pt 0em 0em;
}

#footer a, #footer a:visited, #footer a:active {
	color: #4e4e4e;
	text-decoration: none;
	font-weight: normal;
}

#footer a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}


#sidebar-left {
	float: right;
	padding: 0px;
	background-color: #FFF;
}

#sidebar-left li.leaf {
	padding: 0 0 0 0;
	height: auto;
	list-style-type:none;
}

#sidebar-left .block {
	margin: 0px;
	padding-left: 15px;
}

#sidebar-left a, #sidebar-left a:visited {
	color: #0A8DCB;
}

#sidebar-left a:hover {
	color: #0A8DFF;
}

#container {
	border: #000000 0px solid;
	margin-top: 17px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 860px;
	text-align: left;
}

#contentwrap {
	float:left;
	display: inline;
	width: 550px;
	border: 0px solid black;
}

#contentwrap .pager {
	display: none;
}

#contentwrap .node .title, #contentwrap .node .title a, .node .title a:visited, .node .title a:hover, #container .title {
	color: #201f1f;
	font-weight: normal;
	font-size: 22px;
	text-decoration: none;
}

#contentwrap .view .node .title, #contentwrap .view .node .title a, #contentwrap .view .node .title a:visited, #contentwrap .view .node .node .title a:hover {
	color: #0A8DCB;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

#block-views-frontpage h2.title {
	background: transparent url(img/viewstitle.png) top center repeat-x;
	line-height: 40px;
	padding: 10px 0 0 0;
}

#block-views-frontpage .view h2, .view-content h2 {
	background: none;
	line-height: 20px;
	padding: 0;
	margin: 10px 0 -20px 0;
}

#block-views-frontpage .links {
	display: none;
}

#block-views-frontpage .node {
	padding: 5px 0 0 0;;
}

.node .links {
	text-align: right;
	color: #fc4301;
}

.more-link a, .more-link a:visited {
	padding: 0 6px 0 0;
	color: #fc4301;
	font-size: 11px;
}

.more-link a:hover  {
	color: #fcac01;
	font-size: 11px;
	text-decoration: none;
}

.node ul.links li {
	border-left:1px solid #fc4301;
}

.node .links a, .node .links a:visited {
	color: #fc4301;
	font-size: 11px;
	text-decoration: none;
}

.node .links a:hover  {
	color: #fcac01;
	text-decoration: none;
}

.node p {
	margin-top: 0px;
}

.node .content {
  line-height: 1.2em;
}

.comment a {
	color: #fc4301;
	text-decoration: none;
}

.submitted a:hover {
  	color: #fcac01;
	text-decoration: none;
}

#sidebar-right {
	float:right;
	display: inline;
	margin: 0px 0 0 0px;
	width: 287px;
	padding: 0px;
	border: 0px solid black;
}

#sidebar-right .block-user a, #sidebar-right .block-user a:visited {
	color: #0A8DCB;
}

#sidebar-right .block-user a:hover {
	color: #0A8DFF;
}

#sidebar-right .block-user .content {
	padding: 10px 0 0 35px;
}


#sidebar-right .title {
	text-align: center;
	color: #858585;
	font-size: 22px;
	font-weight: bold;
	padding: 9px 0 7px 0px;
	background: url(img/sidebartop.png) top left no-repeat;
}

#sidebar-right .content {
	margin: -6px 0 0 0px;
	padding: 10px 0 10px 0px; 
	border-right: 1px solid #b1b3b6;
	border-left: 1px solid #b1b3b6;
}

#sidebar-right .block-block p {
	padding: 0 25px 0 25px;
	margin-bottom: 0px;
}

#sidebar-right .block-block, #sidebar-right .block-user {
	background: url(img/sidebarbottom.gif) bottom left no-repeat;
}

#toplinks {
	width: 200px;
	height: 20px;
}

#toplinks img {
	display: inline;
	padding: 0 0 0 17px;
}


.comment .title a, .comment .title a:visited {
	color: #0a8dcb;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	font-family: Verdana;
}

.comment {
  	padding: 0 .5em .5em .5em;
  	margin-bottom: 0.5em;
}

.oddrow {
	background: #fefefe url(img/comment.png) top center no-repeat;
	border-top: 0px solid #f5f5f5;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	border-left: 1px solid #f5f5f5;
}

.comment .new {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
  float: right;
  color: red;
}

.comment .links {
	color: #fc4301;
	display: inline;
}

.comment .links a, .comment .links a:visited {
	color: #fc4301;
	text-decoration: none;
	font-weight: normal;
}

.comment .links a:hover {
	color: #fcac01;
	text-decoration: none;
	font-weight: normal;
}

.comment ul.links li {
	border-left: 1px solid #fc4301;
}

.block ul {
margin:0pt;
padding:0pt 0pt 0.25em 0.1em;
}


h2 a {
	font-size: 12px;
}


tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
/*  margin-bottom: 0.5em;*/
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
h3, h4, h5, h6 {
  font-size: 1.0em;
}
p {
  margin-top: 0.5em;
  margin-bottom: 0.9em;
  font-size:14px;
  line-height:1.3em;
}
a {
  text-decoration: none;
/*  font-weight: bold; */
}
a:link {
  color: #fc4301;
}
a:visited {
  color: #fc4301;
}
a:hover {
  color: #fcac01;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1em;
  color: #222;
}
.item-list .title {
  font-size: 1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/

#menu {
  padding: 0.5em 0.5em 0 0.5em;
  text-align: right;
  vertical-align: middle;
}
#navlist {
  font-size: 1.0em;
  padding: 0 0.8em 1.2em 0;
  color: #9cf;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0.5em 1.2em 0.4em 0;
  font-size: 0.8em;
  color: #9cf;
}
#subnavlist a {
  font-weight: bold;
  color: #9cf;
}
ul.links li {
  border-left: 1px solid #9cf;
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #fff;
}
#mission a, #mission a:visited {
  color: #9cf;
  font-weight: bold;
}
.site-name {
  margin: 0.6em 0 0 0;
  padding: 0;
  font-size: 2em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#main {
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
}
#mission, .comment .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
	color: #010101;
  margin-bottom: .5em;
}

.breadcrumb a, .breadcrumb a:visited, .breadcrumb a:active  {
	color: #010101;
}

.breadcrumb a:hover  {
	color: #676767;
}

.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  font-size: 1.3em;
  color: #777;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}
.submitted {
  color: #000;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0;
}
.block {
  border-bottom: 0px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  margin-bottom: .25em;
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: -10px 0 15px 0;
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em 0;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em;
}
.node .picture {
  border: 1px solid #ddd;
  float: right;
  margin: 0.5em;
}

.comment .picture {
  border: 1px solid #abc;
  float: right;
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}
.clear {clear:both; height:1px; }

#testimonial {
background-color:#FFFFCC;
border:2px dotted #FFFF66;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:14px;
margin:10px;
padding:5px;
width:250px;
}

#testimonial1 {
background-color:#FFFFCC;
border:2px dotted #FFFF66;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:16px;
margin:10px;
padding:5px;
width:300px;
}

#edit-submitbutton {
  width: 51px;
  margin-left: 118px;
}